<div class="shop">
    <mat-card class="shop__card">
        <mat-card-actions>
            <mat-card-title>Премия 3</mat-card-title>
            <mat-card-subtitle>10 Монет</mat-card-subtitle>
        </mat-card-actions>
        <mat-card-actions>
            <button mat-button>Купить</button>
        </mat-card-actions>
    </mat-card>
    <br>
    <mat-card class="shop__card">
        <mat-card-actions>
            <mat-card-title>Премия 5</mat-card-title>
            <mat-card-subtitle>15 Монет</mat-card-subtitle>
        </mat-card-actions>
        <mat-card-actions>
            <button mat-button>Купить</button>
        </mat-card-actions>
    </mat-card>
    <br>
    <mat-card class="shop__card">
        <mat-card-actions>
            <mat-card-title>Премия 10</mat-card-title>
            <mat-card-subtitle>25 Монет</mat-card-subtitle>
        </mat-card-actions>
        <mat-card-actions>
            <button mat-button>Купить</button>
        </mat-card-actions>
    </mat-card>
    <br>
    <mat-card class="shop__card">
        <mat-card-actions>
            <mat-card-title>Кружка с логотипом компании</mat-card-title>
            <mat-card-subtitle>5 Монет</mat-card-subtitle>
        </mat-card-actions>
        <mat-card-actions>
            <button mat-button>Купить</button>
        </mat-card-actions>
    </mat-card>
    <br>
    <mat-card class="shop__card">
        <mat-card-actions>
            <mat-card-title>Футболочка</mat-card-title>
            <mat-card-subtitle>3 Монеты</mat-card-subtitle>
        </mat-card-actions>
        <mat-card-actions>
            <button mat-button>Купить</button>
        </mat-card-actions>
    </mat-card>
    <br>
    <mat-card class="shop__card">
        <mat-card-actions>
            <mat-card-title>Календарь на 2021 год</mat-card-title>
            <mat-card-subtitle>1 Монета</mat-card-subtitle>
        </mat-card-actions>
        <mat-card-actions>
            <button mat-button>Купить</button>
        </mat-card-actions>
    </mat-card>
    <br>
    <mat-card class="shop__card">
        <mat-card-actions>
            <mat-card-title>Отгул 10</mat-card-title>
            <mat-card-subtitle>30 Монет</mat-card-subtitle>
        </mat-card-actions>
        <mat-card-actions>
            <button mat-button>Купить</button>
        </mat-card-actions>
    </mat-card>
</div>